.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.addUser {
    display: flex;
  justify-content: center;
  align-items: center;
  background-color: navy;
  /* display: inline; */
  width: 100%;
}

input {
  margin: 10px 10px 10px 0;
}

.displayUsers {
  margin-top: 10px;
}

.displayUsers div {
  width: 450px;
  height: 130px;
  padding: 15px;
  margin: 15px;
  border-radius: 6px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.displayUsers button + button {
  /* miedzy buttonami */
  margin: 5px;
}

.displayUsers input {
  margin-right: 5px;

}